__pycache__/
../yolov5/
.DS_Store
.env
.idea/
.ipynb_checkpoints/
.venv/
.vscode/
*.egg
*.egg-info/
*.jpg
*.log
*.mp4
*.nvcache
*.png
*.pt
*.py[cod]
*.pyo
*.so
*.swo
*.swp
*.tmp
/yolov5/
build/
data/images/
data/scripts/download_weights.sh
dist/
env/
ENV/
model=/
smart-doorbell.json
Thumbs.db
venv/